language: objective-c
osx_image: xcode8

# Environment variables: https://docs.travis-ci.com/user/environment-variables/
env:
  global:
  - APP_NAME="Recommend-It"
  - 'DEVELOPER_NAME="iPhone Distribution: Derrick Showers (DJPFLH48H5)"'
  - PROFILE_NAME="XC_iOS_comderrickshowersRecommendIt"
  - secure: gcCaYAd8xrAnitP5yjN1TlZ6dsoO/xsGXqVfYkNykKfGTzhzPigm4HxHOorCkeGoqReg1gTIGArlnfd8s6Ym/lOAUgOmWWfG1VO88gNLYostHp591JP0bd2HliVOrkOlyJRs4mD77k9bKcNkRchOzVBjAy1ma/XlDbVWGb5fqEFRv5mD+ECZtl2t/Xl3LF55rB1gvo+sL4NtNXXEPRXmI006XfHj4wFOTk2wgENTQevdDsc5iDcu/HDKUBKc13G8vj60QoXCdkL5uh7RXTro0wAf7YHRfsqSo8iOVrUEOTdu55HkvMTq7JWj4bUOzNxAn7zcGRnmLKiCZUWxLTE3K1l83rrgZyiuQqAENlkt+JXkwhIsoFfaxURj5HTf8Bjor3OYYFMQw7uXIivOFVGy83jX+VnL//NYh6swInU8NMUp5bSE0o3WQSaEnAkTXeNJ9T9AXFdKVzBgPcgLzWhvG0ywNTItumsDtfTL3RTe3kP7WjsKu5h2mJavnn8MqK4wtNVHxUr6hQHOWyGLdYTNwZw5XMpBvoVd8Scf/r9oFD8ZTZm3r+8hVsJoqYW2IEeeiDc2FtGEfL718qPOXQBK1gDVSYFEvJr3kQjAVOYmWN5Usz4IGd3Drxqn4p3QP07x+so8FrdZTSWjrFHMMjURklW2U9fq4HqIu6CpE2ZdHJY=
  - secure: q0dysOqHlUaTlE0NCWgQpucdcMUqW6WcI34qeBduZZzooSC8pAw43j2teOEkx7OU/xB5Y5gA8QY9xjSAgl5QA0KyvqQ20I+Eq1yIKShEOivRLbE5SSm58V47/uCnmWd54Vd9hpLQf2csp563duJk/9A5h7Ag+wU8xmZY++UXbJ7fQfJ5Ar20kppzeZ3xDVXl8JoydcKI+omN/EZ6GYr+YvVvpv2TYqUw5jZZ/guTyIkUmqYwJ7OtAxzHR+kyeNSsXpxPEBafHpGRSy0+n2lqM2BVALikC9FVFQ7U4n68EalIgSP9FEUAPd+YYdhI2g3j57GlT8D8fKJbKCF7mPenaxMgd4UszIjSEKxJcy/Nywrp5axkyQzCpq6GgG+6J3TEK4UCx3ekI5b1rH4lnSLnlZx9HlncUMBCumbZY4Lxhtuhjrx9Hp7Nt929ohneO8uU3OnV0C53t0gIoPQzajpIM1VAtmDZJu61JFX1JheDdlauxSS4TDmTfrnz8SoWc5aQZalYRWQW+OYg1zxGqQQRi/t4Ug7tlTTx/4VH1WhfOVbFAi9YhZ9wK1y99MDeT7CBFd+2WETmH9uLdT1+n2W+XbbQcv2OfCVDvmrOcEBNbkIIx9wCqFT+8ug+uSY8QUYFqU+12IjsO//y7wz2VJNrmzqfk8CBfnymDaX9ZIQouU4=

# Caching seems to remove `pod install` from the build, which could be an issue
# when updating. It does, however, dramatically decreate build times. Come back
# to this: https://github.com/travis-ci/travis-ci/issues/6473 (might need to add
# `pod update`?)
cache: cocoapods

before_install:
  - gem install cocoapods
before_script:
  # TODO: Get this from somewhere else, this will eventually fail
  - wget -O ./Recommend-It/APIKeys.plist "https://concrete-userfiles-production.s3.amazonaws.com/project_file_storage_documents/uploads/1678/original/APIKeys.plist?AWSAccessKeyId=AKIAIOC7N256G7J2W2TQ&Expires=1478505170&Signature=C%2BrZgeelA%2Bfut6ddR6semjbwlzA%3D"
  - openssl aes-256-cbc -k "$ENCRYPTION_SECRET" -in scripts/profile/XC_iOS_comderrickshowersRecommendIt.mobileprovision.enc -d -a -out scripts/profile/XC_iOS_comderrickshowersRecommendIt.mobileprovision
  - openssl aes-256-cbc -k "$ENCRYPTION_SECRET" -in scripts/profile/XC_iOS_comderrickshowersRecommendIt_Team.mobileprovision.enc -d -a -out scripts/profile/XC_iOS_comderrickshowersRecommendIt_Team.mobileprovision
  - openssl aes-256-cbc -k "$ENCRYPTION_SECRET" -in scripts/certs/development.cer.enc -d -a -out scripts/certs/development.cer
  - openssl aes-256-cbc -k "$ENCRYPTION_SECRET" -in scripts/certs/distribution.cer.enc -d -a -out scripts/certs/distribution.cer
  - openssl aes-256-cbc -k "$ENCRYPTION_SECRET" -in scripts/certs/development.p12.enc -d -a -out scripts/certs/development.p12
  - openssl aes-256-cbc -k "$ENCRYPTION_SECRET" -in scripts/certs/distribution.p12.enc -d -a -out scripts/certs/distribution.p12
  - ./scripts/add-key.sh
  - ./scripts/update-bundle.sh
script:
  - xcodebuild build -workspace Recommend-It.xcworkspace -scheme Recommend-It -configuration Release -sdk iphoneos OBJROOT=$PWD/build SYMROOT=$PWD/build ONLY_ACTIVE_ARCH=NO
  # - xcodebuild test -workspace Recommend-It.xcworkspace -scheme Recommend-It -destination "platform=iOS Simulator,name=iPhone 7" ONLY_ACTIVE_ARCH=NO
after_success:
  - ./scripts/sign-and-upload.sh
after_script:
  - ./scripts/remove-key.sh
