language: objective-c
osx_image: xcode8.3

# TODO: Why does build not fail when scripts fail?
# - https://github.com/travis-ci/travis-ci/issues/891
# - https://github.com/travis-ci/travis-ci/issues/1066

# Environment variables: https://docs.travis-ci.com/user/environment-variables/
env:
  global:
  - INFO_PLIST="Recommend-It/Info.plist"
  - secure: gcCaYAd8xrAnitP5yjN1TlZ6dsoO/xsGXqVfYkNykKfGTzhzPigm4HxHOorCkeGoqReg1gTIGArlnfd8s6Ym/lOAUgOmWWfG1VO88gNLYostHp591JP0bd2HliVOrkOlyJRs4mD77k9bKcNkRchOzVBjAy1ma/XlDbVWGb5fqEFRv5mD+ECZtl2t/Xl3LF55rB1gvo+sL4NtNXXEPRXmI006XfHj4wFOTk2wgENTQevdDsc5iDcu/HDKUBKc13G8vj60QoXCdkL5uh7RXTro0wAf7YHRfsqSo8iOVrUEOTdu55HkvMTq7JWj4bUOzNxAn7zcGRnmLKiCZUWxLTE3K1l83rrgZyiuQqAENlkt+JXkwhIsoFfaxURj5HTf8Bjor3OYYFMQw7uXIivOFVGy83jX+VnL//NYh6swInU8NMUp5bSE0o3WQSaEnAkTXeNJ9T9AXFdKVzBgPcgLzWhvG0ywNTItumsDtfTL3RTe3kP7WjsKu5h2mJavnn8MqK4wtNVHxUr6hQHOWyGLdYTNwZw5XMpBvoVd8Scf/r9oFD8ZTZm3r+8hVsJoqYW2IEeeiDc2FtGEfL718qPOXQBK1gDVSYFEvJr3kQjAVOYmWN5Usz4IGd3Drxqn4p3QP07x+so8FrdZTSWjrFHMMjURklW2U9fq4HqIu6CpE2ZdHJY=
  - secure: q0dysOqHlUaTlE0NCWgQpucdcMUqW6WcI34qeBduZZzooSC8pAw43j2teOEkx7OU/xB5Y5gA8QY9xjSAgl5QA0KyvqQ20I+Eq1yIKShEOivRLbE5SSm58V47/uCnmWd54Vd9hpLQf2csp563duJk/9A5h7Ag+wU8xmZY++UXbJ7fQfJ5Ar20kppzeZ3xDVXl8JoydcKI+omN/EZ6GYr+YvVvpv2TYqUw5jZZ/guTyIkUmqYwJ7OtAxzHR+kyeNSsXpxPEBafHpGRSy0+n2lqM2BVALikC9FVFQ7U4n68EalIgSP9FEUAPd+YYdhI2g3j57GlT8D8fKJbKCF7mPenaxMgd4UszIjSEKxJcy/Nywrp5axkyQzCpq6GgG+6J3TEK4UCx3ekI5b1rH4lnSLnlZx9HlncUMBCumbZY4Lxhtuhjrx9Hp7Nt929ohneO8uU3OnV0C53t0gIoPQzajpIM1VAtmDZJu61JFX1JheDdlauxSS4TDmTfrnz8SoWc5aQZalYRWQW+OYg1zxGqQQRi/t4Ug7tlTTx/4VH1WhfOVbFAi9YhZ9wK1y99MDeT7CBFd+2WETmH9uLdT1+n2W+XbbQcv2OfCVDvmrOcEBNbkIIx9wCqFT+8ug+uSY8QUYFqU+12IjsO//y7wz2VJNrmzqfk8CBfnymDaX9ZIQouU4=
  - secure: Tlkep9gU+1lIlpzGS2Tm0XFHlhzgPLCMNpLkU7PDLJhLDJuij3cI1op36/o3YorbQrOIXzHxfk6WXzlxYZ01+JZ3y8+uD2SPZ8H5DNzAvveB+utS9KLVm6rCMQrphGcug3SvDvP6E3eSes7pEPy5yljMnUvmqWVKtXJQcsB9uyYREZmVY+9k15/QUWJlYzd4Q3eYvhskxz9/XJNo5yocC2tTSnIpAtayUQ+72/typ7Gr0Q6XEajlQqxjrFvvBfJ8X+1RJRpCRVLoDwvxzhZjYu3msAXKJ9b0hSvdqOY8GB/3/zCjaTk5RAlWIMFcRS2ENRHpOPt+0fFGSacycF3S8zIkroITJS/QrQNnto8Zwirsrc+WbrQu0oiyvNdplcgtAXzzQ7VOIWqPSxkT1V4mN+ALESiNSx57koIwQ9hADuTaUiZgbyme1NNfxHUJZ8lij02ZEarG0njYzp05sNPD2zj2dJoejzR4vzNJ7Wd8o58ZofI/GUwOR32YoYrBJza7qhoYnqUNtq3Xm5g0u+j6B2KsIWYkO9b8zrzPJqADIgxi8Fg7y4YdzbEHpIktpTub/+goPP7Nqw3GhqITiTghz2FWC4k6kejzasLExRWOSZWF4Nd4/h26X1My0/+VFPykueYS7i2aBezO+rTI5/Xzvxl6+11jroTmWPWbYSo+LJo=
  - secure: vvZIt8CMfKCv5pczEb+zo8HPOoGKHeyCpBq9MDbUNJ8Mu1zgAX/T90m1M6XmIAHWh4maF2RmtV6huAZco2Dk7LqhisOJPpJnZTQv/ZSv4bK5Zr7heOlAYiCUk89qFjKRTEKGKCE3KHIL1BSFSk0nsEIKJonRZAUXEvf72dkJz1KRTq+k3AfdMcga3ZJGheZszGkNqUGkObDZKO/5jE1zV4VqPHtEJMhkyPUB13WRcsr1LwO0Y2mW540NrNaP+CD7hVxlY9+VyGFGhbRcTDWSbbfWr4cIF8ewWF92wHs9zqFoUaT+hLMji9A/xSxxYAWYsFUunJHvwTYyKnDhNPnIrlFlVMlrKpn3Ug3WGAsMlpQhxSiOVgxvUGefzYtQeNwdKhFSuFXD6ohmNcBGxSyQsHR8vOBX/cPTiCl8tz16zfXOHujK9FSE0eiphKpWWjX1nh1GxxmTCMlVVi3L/8SNJKMk0g7+KS5Ym3BdoeksdAQnvr4dU1kCdyAwyLhsN8Tb7mvoo0a9a3RpuRr4sgZ4K7VL35H11XWIBbHDj7AT5ARoaAvIE4JD86ObdjJyA4VVJSou3n1Cs9i0VJ70bjOBvHUj8tHZZe4LfLHm8s8Z//sQ6lO7+ZDp5A0tAx7Y+XTG3em+HPJxy+ylbPOL3hV8OaZ5FwHdOB9o3vNCMRu9/0c=
  - secure: wPFvVE6ETBkJ+AHPjBxvu0kNQatZoRoDz7VfNYz0AT1rm84XxKMUhiz/K8QGRlLFl8E37Unwl76qtLYJiTqLOJs0a9FK3SVBlGD+6ftpOiU6ufxpgrSUoo8yHPWqMW8tU5AOCzWs6eSVccjekjVSRv6RJxmHEzS+Nyr7qnEEF7RPyHaFhk1N2I5EbtEMe6vtcUUv3CQSLRtk+8XikE1TW5+VQfhSzUYMGl2eYrEdunoW1roPzioo3VPcUYRTwybXm89u4MO6NLuqEhFVfaw9WErxddIQMOhN15Hf2VSDiWujI3hEKSJ5yn7WILCg30u3ol89fL/PtMNPUlzn7JE5PUD7utffQNoI/ifUVbqP3mMxysV/6FlV80uc3c2SW+wEe/9qic4cmmP/5EAnfkwSd/U6s+/xgnVsJ476a0CU33FP8Jzvn9hZ3Z6/khWGT32BTR39ZT1XIxE2NR09CJcL67r5Q0OizD9lawgrpEu/q5txXcmtMocrs4CZvdYN5dHhDmFk1ejzomGhByRIzO2Fr91MWb3vVusDfxncM+pIul2HX3NtUHQWhsn+wrAevEUkOT+p0Yf2SXO46YSxYUFmg5B/xaYSzYNohaSeyz36FDcubM/B7zTGsRGduerYSU741iOeGPaJ0GdjlgIRX3xoaWLSj8Gi+jXVPEUgS0E60dU=

# Caching seems to remove `pod install` from the build, which could be an issue
# when updating. It does, however, dramatically decreate build times. Come back
# to this: https://github.com/travis-ci/travis-ci/issues/6473 (might need to add
# `pod update`?)
cache: cocoapods

before_install:
  - gem install cocoapods
install:
  - pod install --repo-update
  - pod install --project-directory=DataLayer
before_script:
  - wget -O ./Recommend-It/APIKeys.plist $API_KEYS_PATH
  - ./CI/add-key.sh
  - ./CI/update-bundle.sh
script:
  - travis_retry xcodebuild test -workspace Recommend-It.xcworkspace -scheme Recommend-It -destination "platform=iOS Simulator,name=iPhone 7"
  - travis_retry xcodebuild test -workspace DataLayer/DataLayer.xcworkspace -scheme DataLayer -destination "platform=iOS Simulator,name=iPhone 7"
after_script:
  - ./CI/sign-and-upload.sh
  - ./CI/remove-key.sh

# Ref: https://www.objc.io/issues/6-build-tools/travis-ci/
# Example repo: https://github.com/objcio/issue-6-travis-ci
